# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.local
.env.*.local
.env.dev
.env.prod
.env.runtime
env/.env.common
env/.env.dev
env/.env.prod

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log
logs/
docs/

# OS
.DS_Store
Thumbs.db

# uv
uv.lock

# Data
/data/
*.csv
*.parquet
*.7z
*.jsonl
artifacts
