api.minsyai.com {
	encode gzip zstd

	route {
		@chat path /api/v1/chat/*
		reverse_proxy @chat 127.0.0.1:8000 {
			flush_interval -1
		}

		# Telegram webhook 和其它 API 走这里
		reverse_proxy 127.0.0.1:8000
	}

	log {
		output file /var/log/caddy/api_access.log
		format json
	}
}

mcp.minsyai.com {
	reverse_proxy 127.0.0.1:8111 {
		flush_interval -1
	}
}
